.ClientWindow{
    background-color: red;
    -fx-background-color: red;
}

.l{
    background-color: red;
    -fx-background-color: red;
}

.Rectangle{
    background-color: red;
    -fx-background-color: red;
}